@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body
{
    font-family: 'Sora', sans-serif !important;
}

table
{
    margin-top: 2.5vh;
}

th
{
    background-color: rgba(128, 128, 128, 0.46) !important;
}

a
{
    color: rgba(0, 0, 0, 0.8) !important;
}

dt
{
    margin-left: 2.5vh;
}

dd
{
    padding-left: 5vh;
}

form
{
    margin-top: 3vh;
}

.list-name
{
    background-color: rgba(128, 128, 128, 0.46);
    width: 37.5vh;
    padding-top: 1.25vh;
    margin-top: 2.5vh;
    margin-left: 2.5vh;
}

.data-header, .data-text
{
    margin: 0;
}

.form-block
{
    padding-top: 2.5vh;
}

#nav
{
    /*background-color: rgba(0, 0, 128, 0.91);*/
    background-color: rgba(25, 25, 112, 0.94);
    color: aliceblue;
    height: 25vh;
}

#pfp
{
    margin-left: 2.5vh;
    padding: 0;
    width: 150px;
    height: 150px;
    border: 2px solid gray;
}

#fullname, #pfp
{
    margin-top: 2.5vh;
}

#sp-link
{
    margin-top: 20vh;
}

#sp-link2
{
    margin-top: 5vh;
    font-weight: bold;
}

#sp-add
{
    color: aliceblue !important;
}

#main-content
{
    height: 75vh;
}

#main-panel
{
    background-color: white;
}

#side-panel
{
    background-color: rgba(211, 211, 211, 0.35);
    padding: 0;
}

#form
{
    margin-top: 12.5vh;
}

#return
{
    margin-left: 6.375vh;
}

#submit
{
    margin-top: 2.5vh;
}

#user-block
{
    padding-bottom: 3.75vh;
}

#data-delimiter
{
    border-bottom: .05vh solid black;
    margin-bottom: 1.25vh;
}

/*Main page animation*/

#main-page
{
    position: relative;
    animation: page-blur 1s linear;
}

@keyframes page-blur
{
    0% {-webkit-filter: blur(3vh)}
    50% {-webkit-filter: blur(1.5vh)}
    100% {-webkit-filter: blur(0vh)}
}

/*Form animation*/

form, #form-span
{
    position: relative;
    animation: slide .5s linear;
}

@keyframes slide
{
    0% {left: -50%; -webkit-filter: blur(3vh)}
    50% {left: -25%; -webkit-filter: blur(1.5vh)}
    100% {left: 0%; -webkit-filter: blur(0vh)}
}